/* !Mains/Elements */
/* 
* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
main {
  background: #fbfbfb;
  position: relative;
} */

/* header {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #7ecb70;
} */

a {
  text-decoration: none;
  /* color: rgb(209, 205, 205); */
}

h2 {
  text-align: center;
  /* font-size: 30px;
  color: rgb(209, 205, 205); */
}

/* form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  justify-content: space-evenly;
  align-items: center;
} */

/* input {
  justify-content: space-around;
  width: 80%;
  height: 30px;
  font-size: 20px;
  padding-left: 5px;
  border-radius: 5px;
} */

/* button {
  height: 30px;
  width: 30%;
  background-color: #cbe54e;
  border-color: #cbe54e;
  border-radius: 5px;
  font-size: 15px;
  display: flex;
  color: rgb(88, 85, 85);
} */

.SmallCard {
  height: 20%;
  border-radius: 10px;
  margin: 2px;
  margin-left: 30px;
  font-size: 30px;
  /* color: rgb(209, 205, 205); */
}
.bigCard {
  height: 90vh;
  flex-direction: column;
  display: flex;
  margin: 0px 5px 0px 5px;
  background: #ffffff;
  /* border-radius: 10px; */
  position: absolute;
  visibility: hidden;
}
.opening_card {
  background: #4a95ba;
  color: #fbfbfb;
}
.opening_card > form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
.opening_card > form > input {
  width: 75%;
  height: 30px;
}

.food {
  background-color: #5ba8a0;
}

.ent {
  background-color: #cbe54e;
}

.clo {
  background-color: #94b447;
  visibility: visible;
}

.bills {
  background-color: #5d6e1e;
}

/* main {
    height: 95vh;
} */

@media only screen and (min-width: 768px) {
  body {
    background-color: #3b5284;
  }
  main {
    display: inline-grid;
    grid-template-columns: [food] 25% [entertainment] 25% [clothes] 25% [bills] 25%;
    grid-template-rows: [top] 20% [cards] 60% [bottom] 20%;
    grid-row-gap: 7% 2% 2% 2% 7%;
    justify-items: stretch;
  }
  .bigCard {
    margin-top: 25%;
    margin-bottom: 25%;
    border-radius: 10px;
    height: 60vh;
    width: 80%;
  }
  /* not working */
  /* .bigCard.food {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-items: stretch;
    } */
  button {
    height: 30px;
    width: 50%;
    background-color: #cbe54e;
    border-color: #cbe54e;
    border-radius: 5px;
    font-size: 15px;
  }
}
