/* !Mains/Elements */

* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #3B5284;
}

header {
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #3B5284;
}

a {
    text-decoration: none;
}

.opening_card {
    /* visibility: hidden; */
}

h2 {
    font-size: 35px;
    color: gray;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    justify-content: space-around;
    align-items: center;
}

input {
    justify-content: space-around;
    width: 80%;
    height: 30px;
    font-size: 20px;
    padding-left: 5px;
    border-radius: 5px;
}

button {
    height: 30px;
    width: 30%;
    background-color: #CBE54E;
    border-color: #CBE54E;
    border-radius: 5px;
    font-size: 15px;
    display: flex;
}

/* margin left is a janky fix */

.SmallCard {
    height: 20%;
    width: 85%;
    border-radius: 10px;
    margin: 2px;
    margin-left: 30px;
    font-size: 30px;
}

.food {
    background-color: #5BA8A0;
}

.entertainment {
    background-color: #CBE54E;
}

.clothing {
    background-color: #94B447;
}

.bills {
    background-color: #5D6E1E;
}

/* main {
    height: 95vh;
} */

div {
    display: flex;
    align-items: center;
    padding: 10px;
}

.bigCard {
    height: 90vh;
    width: 100%;
    flex-direction: column;
    display: flex;
}

@media only screen and (min-width: 768px) {
    body {
        background-color: white;
    }
    .bigCard {
        height: 50vh;
        width: 20%;
        flex-direction: row;
        margin: none;
    }
    section {
        display: flex;
    }
}